{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC News</title>
</head>
<body>
    <h1>Welcome to the BBC News Website</h1>

    <h2>
        Below are today's headlines:
    </h2>

    <div>
        {% for news in all_news %}
        <h3><a href="">{{news.headline}}</a></h3>
        <img src="{{news.image.url}} " width="200px" height="200px" alt="">
        <br>
        {%endfor%}
    </div>
</body>
</html>